/* checkout header  */
/* Set the maximum width for the WooCommerce checkout page */

a:hover {
color: #000 !important;
}
.checkout_header_wrape{
	background-color: #fff;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #F5F5F5 !important;
}
.checkout_inner_wrap{
	max-width: 1250px;
	width: 100%;
}
.invalid {
	border-bottom: 2px solid red !important;
}
.checkout_header{
display: flex;
justify-content: space-between;
padding: 24px 40px;
background-color: #fff;
}
@media screen and (max-width: 1025px){
	.checkout_header{
		padding: 24px 60px;
	}
	
}
.checkout_logo > h1{
font-size: 76px;
}
.checkout_logo strong {
	font-weight: 700;
}
.checkout_header_text h3{
	font-size: 36px;
	font-weight: 400;

}
.checkout_header_text{
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}
.checkout_header_text p{
font-size: 16px;
font-weight: 300;
margin-top: -5px !important;
}
.content-container.site-container{
	margin-top: 90px !important;
	max-width: 1250px !important;
	width: 100%;
}
/* for mobile */
@media screen and (max-width: 900px) {

	.checkout_header{
		
		padding: 20px 25px;
		flex-direction: column;
		justify-content: center;
		}
		.checkout_logo{
			order: 1;
		}
		.checkout_header_text{
			order: 2;
		}
		.checkout_logo > h1{
		font-size: 28px;
		text-align: center;
		padding-bottom: 15px;

		}
		.checkout_logo strong {
			font-weight: 700;
		}
		.checkout_header_text h3{
			font-size: 26px;
			text-align: center;
		
		}
		.checkout_header_text p{
			text-align: center;
		font-size: 15px;
		font-weight: 300;
		margin: unset;
		}
		.content-container.site-container{
			margin-top: 30px !important;
		}


}
/* Header End */
.woocommerce form .form-row label{
    display: none !important;
}
p#billing_address_1_field{
    display: none;
}

/* Field Wrapper */
.woocommerce-billing-fields__field-wrapper{
    display: flex !important;
    columns: 100px 2;
    column-gap: 20px;
	margin-top: 30px !important;
}
.woocommerce-checkout header#masthead, .woocommerce-checkout footer#colophon {
	display: none !important;
}
@media (max-width: 450px){
    .woocommerce-billing-fields__field-wrapper{
        flex-direction: column;
    }
}
/* Input Fields */
input#billing_phone.input-text{
	border: 1px solid rgb(245 245 245);
	width: 100% !important;
	padding: 20px;
}

input#billing_phone.input-text:focus{
	border: none;
	border-bottom: 2px solid black;
}
#billing_phone_field{
	width: 100% !important;
}
input#billing_phone.input-text::placeholder{
	color: #C0C0C0 !important;
}
input#billing_first_name.input-text{
	border: 1px solid rgb(245 245 245);
	padding: 20px;

}
#billing_first_name_field{
	width: 100% !important;
}

input#billing_first_name.input-text::placeholder{
	color: #C0C0C0 !important;
}

input#billing_first_name.input-text:focus{
	border: none;
	border-bottom: 2px solid black;
}



#payment #place_order {
	padding: 16px 10px !important;
	border-radius: 0px !important;

}
#payment #place_order:hover{
background-color: #BDA88B !important;
}

.woocommerce table.shop_table td{
	border: none !important;
	border-bottom: 1px solid #E6E6E6 !important;
	padding: 20px 12px !important;
}
woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce table.shop_table tbody th {
	border-top: 1px solid #E6E6E6 !important;
}
.pickup_adr{
	border: none !important; 
	margin: unset !important ;
	padding: unset !important;
	font-weight: 300 !important;
	color: #6d6d6d !important;
	padding-left: 2px !important;
	font-size: 15px !important;
}

.urb-input{
	width: 100%;
	border: 1px solid rgb(245 245 245)!important;
	padding:  20px!important;
	margin-bottom: 10px;
}
.urb-input::placeholder{
color: #C0C0C0 !important;
}
.urb-input:focus{
	border: none !important;
	border-bottom: 2px solid black !important;
	margin-bottom: 10px !important;
}
.urb-dropdown {
	z-index: 1000;
	display: none;
	width: 100%;
	padding: 20px 20px 20px 20px;
	background-color: #FFFFFF;
	border: 0.5px solid black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.urb-dropdown li {
	list-style: none;
	cursor: pointer;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid rgb(231, 231, 231);
	margin-left: -8px !important;
	line-height: 22px;
	padding-bottom: 7px;
	padding-top: 7px;
}

.urb-dropdown li:hover {
	background: #f5f5f5;
}

.list-city{
	color: black;
	font-size: 16px;
	font-weight: 400;
}
.list-region{
color: rgb(160, 160, 160);
font-size: 14px;
font-weight: 300;
}

.lvl1 , .billing-lv1{
display: inline;
}
.billing-lv1{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.lvl1{
	margin-bottom: -3px;
}
/* ********LEVEL 2 ***********/
/* level 2 label */
.lvl2 , .billing-lv2{
    display: inline;
}
.billing-lv2{
	font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.woocommerce-additional-fields{
	display: none;
}
.ltext{
	margin-top: 30px;
}
.lvl2{
    margin-bottom: -3px;
}
/* Level 2 option 1 */
.lvl2-opt1{
    margin-top: 20px;
    border: 1px solid #F5F5F5;
	padding: 28px 28px 8px 28px;
	
}
.label1-text{
    color: #2B2B2B;
    font-size: 14px;
	margin-top: -2px !important;
    padding-left: 25px;
    font-weight: 300;
}
/* level 2 option 2 */
.lvl2-opt2{
    margin-top: 20px;
    border: 1px solid #2B2B2B;
    padding: 28px;
}
.label2-text{
    color: #2B2B2B;
	margin-top: -2px !important;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 300;
}
.billing_adr{
	width: 100%;
	border: 1pt solid rgb(245 245 245) !important;
padding: 20px !important;
}

.billing_adr::placeholder{
	color: #C0C0C0 !important;
}

/* level 2 option 3 */
.lvl2-opt3{
    margin-top: 20px;
    border: 1px solid #F5F5F5;
    padding: 28px;
}
.label3-text{
    color: #2B2B2B;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 300;
	margin-top: -2px !important;
	margin: unset !important;

}

.cityId{
	display: none !important;
}

/* ************RADIO BUTTON CSS***************** */

        /* Hide the default radio button */
        .custom-radio-btn input[type="radio"] {
            display: none;
        }

        /* Style the custom radio button container (label) */
        .custom-radio-btn {
			display: inline !important;
            position: relative;
			text-transform: uppercase;
            padding-left: 25px; /* Adjust as needed */
            cursor: pointer;
        }

        /* Style the custom checkmark (span) */
        .custom-radio-btn .checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 18px; /* Adjust as needed */
            width: 18px; /* Adjust as needed */
			border: 1px solid black;
            border-radius: 50%;
        }

        /* Style the custom checkmark when the radio button is checked */
        .custom-radio-btn input[type="radio"]:checked + .checkmark {
            background-color: #000000; /* Change this color to match your design */
        }

        /* Style the custom checkmark's appearance (e.g., a dot) when checked */
        .custom-radio-btn input[type="radio"]:checked + .checkmark::after {
            content: "";
            display: block;
            border: 2px solid #bebebe; 
            border-radius: 50%;
            height: 12px;
            width: 12px; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }





/* ######################################### */
/* Modal */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
  }
  
  .modal-content {
	background-color: #fff;
	padding: 20px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .close {
	position: absolute;
	top: 15px;
	left: 0;
	padding: 10px;
	cursor: pointer;
	z-index: 1000;
  }
  .close > svg{
	z-index: 1000 !important;
  }
  .modal-open {
    overflow: hidden;
    position: fixed;
}
.modal_title{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}
.size-svg{
	display: block;
	padding-top: 15px;
	padding-bottom: 20px;
}
.map{
	flex: 3;
}

#openModal{
	background-color: transparent;
    color: black;
	border: none;
	padding: unset;
	margin-top: -18px;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 400;
	padding-left: 2px;
  }
  #openModal:hover{
	background-color: transparent;
	color: black;
  }
  
  .side_results_city{
	font-size: 18px;
	cursor: pointer;
	font-weight: 400;
	padding: 20px 20px;
  }

  .cities_search_results{
	scrollbar-width: thin;

	overflow: scroll;
	height: 78vh;
  }
  .cities_search_results::-webkit-scrollbar{
	width: 5px;

  }
  .cities_search_results::-webkit-scrollbar-thumb{
	background: rgb(172, 172, 172);
  }
  .cities_search_results::-webkit-scrollbar-track{
	background: #ebebeb;
  }
  @media screen and (max-width: 767px) {
    .cities_search_results{

		height: 40vh;
	  }
	  #popup-content {
		z-index: 9999;
		padding-right: 0px;
			  }
	  #close-button{
		top: -4px !important;
		right: 0px !important;
	  }
}
  /* modal close */

  /* Pop Up */
  #popup {
  
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 96%;
	background-color: #fff;
	opacity: 0;
	transition: all 0.5s ease-in-out;
  }
  
  #popup.active {
	bottom: 0;
	opacity: 1;
  }
  
  #popup-content {
	position: relative;
	top: 0px;
	text-align: center;
	padding: 20px 20px 20px 0px;
	background-color: #fff;
  }
  #close-button {
	background-color: transparent;
    color: black;
	position: absolute;
    border: none;
    top: 0px;
    z-index: 99999;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
  }
  #close-button:hover{
	background-color: transparent;
	color: #000;
	box-shadow: none;
  }
  
  
.cash_pay , .credit_pay{
	display: inline;
}
.credit_pay{
	padding-right: 15px;
}
.address-comment{
	font-size: 14px;
    font-weight: 400;
	padding-top: 10px;
    line-height: 19px;
    padding-bottom: 24px;
}
.opening-hrs{
	font-size: 14px;
    font-weight: 400;
	padding-top: 7px;

}
#select_pickup{
	background-color: transparent;
    color: black;
	border-radius: 0px !important;
	padding: 15px;
	border: 1px solid black;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
}

.balloon-body {
	text-align: left;
  }
  .balloon-header {
	text-align: left;
	line-height: 20px;
    margin: unset !important;
	width: 90%;
	padding-bottom: none;
  }
  /* popup close */
  
  
  .address {
	display: flex;
	height: 100vh;
  }
  
  .search-content {
	flex : 0 0 auto;
	width: 400px;
	height: 100vh;
	position: relative;
  
  }

  
  #searchInput {
	padding: 14px;
	width: 95%;
	border: 1px solid #E8E8E8;
	background-color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: var(--Grey, #C0C0C0);
  }
  
  #searchResults {
	padding-left: unset !important;
  }
  
  .city-list {
	background: #ffffff;
	margin-right: 20px;
	border-top: 1px solid #D8D8D8;
	list-style: none;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
  }
  
  .city-list:hover {
	background: #F6F6F6;
  }
  
  .city-list:first-child {
	border-top: unset;
  }
  
  .sub-item {
	color: #C0C0C0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
  

  
  @media screen and (max-width: 768px) {
	.address {
		flex-direction: column;
	}
  
	.search-content {
		flex: 1;
	}
  
	.map {
		width: 100%;
		flex: 1;
	}
	#popup{
		height: 94%;
	}
	.search-content{
		width: 100%;
	}
}

  /* order css */
  h3#order_review_heading{
	display: none;
  }
  th.product-name{
	display: none;
  }
  th.product-total{
	display: none;
  }


  /* checkout order review html before order button*/
.order_row1{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.row1_svg{
display: flex;
align-items: center;
}

.row2_svg{
	display: flex;
	align-items: center;
}

.row1_text{
	padding-right: 21px;
}

.order_row2{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

/* checkout order review after order button */
.phone_block{
	display: flex;
	border: 1px solid #E4E4E4;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.phone_row1{
	text-transform: uppercase;
    font-weight: 500;
}
.woo-product-name{
margin-left: -20px !important;
font-size: 18px !important;
text-transform: uppercase !important;
font-weight: 400 !important;
position: absolute !important;
}

td.product-total{
	position: relative !important;
}
.product-total  > .woocommerce-Price-amount.amount{
	position: absolute !important;
    right: 10px ;
    bottom: 20px ;
	color: #B89A72 !important;
	font-size: 16px;
	font-weight: 600;
	
}
.product-total  > .woocommerce-Price-amount.amount + del{
position: absolute;
bottom: 20px;
font-size: 16px;
right: 80px;
font-weight: 400;
color: #C0C0C0;
}
@media screen and (max-width:786px) {

.product-total  > .woocommerce-Price-amount.amount{
bottom: 25px;
	
}
.product-total  > .woocommerce-Price-amount.amount + del{
bottom: 25px;
}}


.product-quantity{
	display: none !important;
}
.variation{
    display: flex !important;
    position: absolute !important;
    padding-left: 82px !important;
    padding-top: 42px !important;
}
.variation-{
	font-weight: 400 !important;
}
.order-total > tr{
	border-bottom: none;
}
.order-total > th{
	font-weight: 400 !important;
	font-size: 18px !important;
	border-bottom: 1px solid #E4E4E4 !important;
	text-transform: uppercase !important;
}
.order-total > td {
	font-weight: 600 !important;
	font-size: 18px !important;
	text-align: right !important;
	border: none !important;
	color: #B89A72 !important;

}
.order-total > td > del{
font-weight: 400;
color: #C0C0C0;
}
.cart-subtotal{
	display: none !important;
}
.wc_payment_method.payment_method_cod{
display: none !important;
}
.woocommerce-shipping-totals.shipping > th{
	font-weight: 400 !important;
	font-size: 18px !important;
	text-transform: uppercase !important;
}
.woocommerce-shipping-totals.shipping > td{
	font-size: 16px;
	font-weight: 600;
}

.woocommerce ul#shipping_method li{
	justify-content: right !important;
	margin: unset !important;
	align-items: center !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
}
.woocommerce-terms-and-conditions-wrapper{
	display: none !important;
}
.woo-crubs{
position: absolute;
top: -60px;
color: #C0C0C0;
text-transform: uppercase;
font-size: 15px;
}
.woo-crubs > p > a{
	text-decoration: none;
	color: #C0C0C0;
}


.woocommerce-checkout-review-order{
	padding-left: 80px !important;
}
#customer_details.col2-set{
	padding-right: 0px !important;
}

@media screen and (max-width: 1025px) {
	.woocommerce-checkout-review-order{
		padding-left: 0px !important;
	}
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	width: 100% !important;
}
.citycodeinput{
	display: none !important;
}

#levelid2{
	display: none;
}

